#controls {
  margin-bottom: 16px;
}

.container {
  display: flex;
  width: fit-content;
  gap: 16px;
  background: #f6f6fe;
  padding: 16px;
  border-radius: 8px;
}

.container:empty {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.number-input {
  width: 150px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;

  text-align: center;
}

button[data-destroy] {
  background-color: #ff4e4e;
}

button[data-destroy]:hover {
  background-color: #e62f2f;
}
